.Container{
    border: 2px solid red;
    height: 150px;
    background-color: #FFA500;
}

.form{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


button{
    border: none;
    outline: none;
    background-color: beige;
    margin-left: 1rem;
}

.icon{
    font-size: 1.5rem;
    background-color: #FFA500;
}

input{
    width: 250px;
    height: 35px;
}

input:focus{
    outline: rgba(146, 144, 144, 0.959);
}