/* width */
::-webkit-scrollbar {
  width: 15px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background:#ADFF2F;
  transition: 2.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #228B22; 
}


.App{
  margin: auto;
  width: 40%;
  height: auto;
  text-align: center;
  background-color: beige;
}